{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{ name.products.name }}</title>
    <link rel="icon" href="{% static 'image/logo1.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

</head>
<body>
<nav class="nav">

    <ul class="nav__ul">
        <div class="nav__ul--margin">
            {% if perms.products.add_products %}
                <li class="nav__li right"><i class=""></i><a href="{% url 'views_user' %}">User</a></li>
            {% endif %}
            <li class="nav__li right"><i class=""></i><a href="{% url 'index' %}">Index</a></li>
            <li class="nav__li right"><i class=""></i><a href="{% url 'view_products' %}">Products</a></li>
            <li class="nav__li right"><i class=""></i><a href="{% url 'view_laptops' %}">Laptops</a></li>
            <li class="nav__li right"><i class=""></i><a href="{% url 'view_pc' %}">Pc</a></li>
            <li class="nav__li right"><i class=""></i><a href="{% url 'view_monitors' %}">Monitors</a></li>
            <li class="nav__li right"><a href="{% url 'view_type-peripheral' %}">Peripheral</a></li>
            <li class="nav__li right"><a href="">Total: {{ import_total_cart }}</a></li>
            <li class="nav__li left"><a href=""><i class="fas fa-cart-arrow-down"></i></a></li>
            <li class="nav__li left"><a href="{% url 'filter_product' %}"><i class="fas fa-search"></i></a></li>
            {% if user.is_authenticated %}
                <li class="nav__li left"><a href="{% url 'pcs_create' %}"><i class="fas fa-save"></i></a></li>
                <li class="nav__li left"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></li>
                <li class="nav__li left"><a href="{% url 'user_create' %}"><i class="fas fa-user-plus"></i></a></li>
            {% else %}
                <li class="nav__li left"><a href="{% url 'login' %}"><i class="fas fa-users"></i></a></li>
            {% endif %}
        </div>
    </ul>

    <ul class="nav__responsive-ul">
        <div class="nav__responsive-button-container">
            <div class="nav__responsive-button"><i class="fas fa-bars"></i></div>
        </div>
        <div class="nav__li-container">
            {% if perms.products.add_products %}
                <li class="nav__responsive-li"><i class=""></i><a href="{% url 'views_user' %}">User</a></li>
            {% endif %}
            <li class="nav__responsive-li"><i class=""></i><a href="{% url 'view_products' %}">Products</a></li>
            <li class="nav__responsive-li"><i class=""></i><a href="{% url 'view_laptops' %}">Laptops</a></li>
            <li class="nav__responsive-li"><i class=""></i><a href="{% url 'view_pc' %}">Pc</a></li>
            <li class="nav__responsive-li"><i class=""></i><a href="{% url 'view_monitors' %}">Monitors</a></li>
            <li class="nav__responsive-li"><a href="{% url 'view_type-peripheral' %}">Peripheral</a></li>
            <li class="nav__responsive-li"><a href=""><i class="fas fa-cart-arrow-down"></i></a></li>
            <li class="nav__responsive-li"><a href="{% url 'filter_product' %}"><i class="fas fa-search"></i></a></li>
            {% if user.is_authenticated %}
                <li class="nav__li"><a href="{% url 'pcs_create' %}"><i class="fas fa-save"></i></a></li>
                <li class="nav__li"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></li>
                <li class="nav__li"><a href="{% url 'user_create' %}"><i class="fas fa-user-plus"></i></a></li>
            {% else %}
                <li class="nav__li"><a href="{% url 'login' %}"><i class="fas fa-users"></i></a></li>
            {% endif %}
        </div>
    </ul>
</nav>

<div class="section_update">
    <form method="post" enctype="multipart/form-data">
        {% if messages %}
            <ul class="messages_update">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    <li><a href="{% url 'view_pc' %}">Go to see pcs</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% csrf_token %}
        {{ update_form.as_p }}
        <input type="submit" value="Update pc">
    </form>
</div>
<footer class="footer">
    <ul class="ul">
        <li><a href=""><img src="{% static 'image/logo_facebook.png' %}"></a></li>
        <li><a href=""><img src="{% static 'image/logo_instagram.jpg' %}"></a></li>
        <li><a href="tel:3333333"><img src="{% static 'image/logo_whatsapp.jpg' %}"></a></li>
        <li><a href=""><img src="{% static 'image/logo_youtube.jpg' %}"></a></li>

    </ul>
    <div class="name">
        <p>Santiago Andres Arias Mancilla</p>

    </div>
</footer>

</body>
</html>